.base__section{
    width: 100%;
    height: 100vh;
    position: relative;
    &__wallpaper{
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.5);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: relative;
            z-index: -1;
        }
    }
    &__search{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 123 !important;
        width: 100%;
        input{
            width: 500px;
            height: 50px;
            border-radius: 0 !important;
        }
        button{
            height: 50px;
        }
        .form{
            display: flex;
            justify-content: center;
        }
    }
}


.main_search_input{
    width: 300px;
    padding: inset 20px 0;
    padding:20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
}
.main_search_button{
    padding:8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}


@media(max-width:600px){
    .base__section{
        &__search{
            
            input{
                width: 200px;
                height: 50px;
                border-radius: 0 !important;
            }
            button{
                height: 50px;
            }
           
        }
    }
}

.textdiv{
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 5px ;
    border: 5px solid $green;
    border-radius: 5px;
}