.tender_table_link{
    .table_tender_info{
        display: flex;
        flex-wrap: wrap;
        p{
            margin-right: 8px;
            font-size: 12px;
            font-weight: lighter;
        }
    }
}